@model List<TaskTracker.Application.Common.ViewModels.TaskViewModel>


@{
    ViewBag.Title = "Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p style="text-align:right;margin-right:20px;">
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Name)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Status)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Priority)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Description)</th>
            <th>Project</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            @Html.HiddenFor(_ => task.Id)
        <tr>
            <td>@Html.DisplayFor(_ => task.Name)</td>
            <td>@Html.DisplayFor(_ => task.Status)</td>
            <td>@Html.DisplayFor(_ => task.Priority)</td>
            <td>@Html.DisplayFor(_ => task.Description)</td>
            <td>@((ViewBag.Projects as IEnumerable<SelectListItem>).FirstOrDefault(x => x.Value == task.ProjectId.ToString()).Text)</td>   
            <td class="text-center ">
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@task.Id">Edit</a>
            </td>
            <td class="text-center ">
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@task.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
