@model List<TaskTracker.Application.Common.ViewModels.ProjectViewModel>


@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="~/css/TableCustom.css" rel="stylesheet" />*@

<h2>@ViewBag.Title</h2>

<div class="container">
    <div class="pull-right" style="padding-bottom:2em">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createProjectModal" onclick="location.href='@Url.Action("Create","Projects")'">Insert</button>
        @Html.ActionLink("Create New", "Create", "Projects", null, new {@type = "button", @class = "btn btn-primary", @datatoggle = "modal", @datatarget = "#createProjectModal" })
    </div>
</div>

<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Name)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Status)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Priority)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().StartDate)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().CompletionDate)</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            @Html.HiddenFor(_ => project.Id)
        <tr>
            <td>@Html.DisplayFor(_ => project.Name)</td>
            <td>@Html.DisplayFor(_ => project.Status)</td>
            <td>@Html.DisplayFor(_ => project.Priority)</td>
            <td>@Html.DisplayFor(_ => project.StartDate)</td>
            <td>@Html.DisplayFor(_ => project.CompletionDate)</td>
            <td class="text-center ">
                @Html.ActionLink("Edit", "Edit", new {id = project.Id})
            </td>
            <td class="text-center ">
                @Html.ActionLink("Delete", "Delete", new { id = project.Id })
            </td>
        </tr>
        }
    </tbody>
</table>