@model List<TaskTracker.Application.Common.ViewModels.ProjectViewModel>


@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p style="text-align:right;margin-right:20px;">
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Name)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Status)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Priority)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().StartDate)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().CompletionDate)</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            @Html.HiddenFor(_ => project.Id)
            <tr>
                <td>@Html.DisplayFor(_ => project.Name)</td>
                <td>@Html.DisplayFor(_ => project.Status)</td>
                <td>@Html.DisplayFor(_ => project.Priority)</td>
                <td>@Html.DisplayFor(_ => project.StartDate)</td>
                <td>@Html.DisplayFor(_ => project.CompletionDate)</td>
                <td class="text-center ">
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@project.Id">Edit</a>
                </td>
                <td class="text-center ">
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@project.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>